@import '{reywood:bootstrap3-sass}/bootstrap';

html body {
	background-color:#ECF0F1;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
	background-color: #1D4361
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

#navbar {

	background-color: #26587F;

	#navbarTitle {
		color: white;
		font-size: 25px;
		font-weight: bold;
	}

	#navbarNavigations {
		
		float: right;
		a {
			color: white;
		}

	}

	.navbarOption:hover {
		display: inline;
		background-color: #1D4361;
	}
}

.btn-default {
	background-color: #3498DB;
	color: white;
}

.btn-default:hover {
	background-color: #2980B9;
	color: white;
}

.img-circle {
    width: 150px;
    height: 150px;
	border-radius: 150px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	background: url(http://link-to-your/image.jpg) no-repeat;
	float: left;
	padding: 10px;
}

#logo {
	width:70px;
	height:70px;
}

#itemDisplay {
	width: 300px;
	background-color: white;
	margin: 5px;
	border-radius: 5px;
	padding: 10px;
}
#itemDisplay:active {
	background-color: #E5E0E2;
}

#itemsContainer {
	text-align: center;
}

#thumbIcon {
	padding: 5px;
}

.map-container {
	margin: auto;
  	max-width: 100%;
  	height: 500px;
}

#frontLogo {
	width: 300px;
	height: auto;
}

.overlay {
  position: absolute;
  z-index: 1000;
  width:100%;
  top: 0;
  right:0 ;
  bottom: 0;
  left: 0;

  background: rgba(1,1,1, 0.6);

  display:none;
}

.payment-form__is-submitting .overlay {
  display:block;
}

.overlay__message {
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
}

#paypalLogo {
	width: 75px;
	height: auto;
}

.addItem:hover {
	cursor: pointer;
}