@import '{reywood:bootstrap3-sass}/bootstrap';

html body {
	background-color:#ECF0F1;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
	background-color: #E74C3C
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

#navbar {

	background-color: #E74C3C;

	#navbarTitle {
		color: white;
		font-size: 25px;
		font-weight: bold;
	}

	#navbarNavigations {
		
		/*float: right;*/
		a {
			color: white;
		}

	}

	.navbarOption:hover {
		display: inline;
		background-color: #BD3E31;
	}
}

.img-circle {
    width: 125px;
    height: 125px;
	border-radius: 150px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	background: url(http://link-to-your/image.jpg) no-repeat;
	float: left;
	padding: 10px;
}

#itemDisplay {
	width: 300px;
	background-color: white;
	margin: 5px;
	border-radius: 5px;
	text-align: center;
	padding: 10px;
}

#itemsContainer {
	text-align: center;
}

.map-container {
	margin: auto;
  	max-width: 90%;
  	height: 500px;
}